.grid-container{
    display: grid;
    grid-template: repeat( 10, 360px) / repeat(12, 1fr);
}

.grid-container > div {
    background-color: #fff;
    grid-gap: 0;
}

#about{
    grid-column: 1 / -1;
    grid-row: 1 / span 2;
}
.skills-section{
    background-image: linear-gradient(to bottom, #fff, #fff3f2);
    grid-column: 1 / -1;
    grid-row: 3 / span 2;
}
#portfolio{
    grid-column: 1 / -1;
    grid-row: 5 / span 4;
    background-color: #fff ;
}

/***** grid template for the content inside the portfolio section ******/
@media screen and (min-width: 768px){
    
}
#contact{
    grid-column: 1 / -1;
    grid-row: 8 / span 3;
    background-color: #fff ;
}

